name: Deploy Docs

on:
  push:
    paths:
      - "documentation/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: documentation
        run: npm ci

      - name: Build docs
        working-directory: documentation
        run: npm run build

      - name: Upload to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DOCS_SSH_HOST }}
          username: ${{ secrets.DOCS_SSH_USER }}
          key: ${{ secrets.DOCS_SSH_KEY }}
          source: "documentation/dist/*"
          target: ${{ secrets.DOCS_PATH }}
          strip_components: 2

